services:
  spark-master:
    image: apache/spark:3.5.0-scala2.12-java11-python3-ubuntu
    container_name: spark-master
    hostname: spark-master
    user: root
    environment:
      - SPARK_MODE=master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ~/data:/opt/spark-data
      - ~/scripts:/opt/spark-scripts
      - ~/output:/opt/spark-output
    networks:
      - spark-network

  spark-worker:
    image: apache/spark:3.5.0-scala2.12-java11-python3-ubuntu
    container_name: spark-worker
    hostname: spark-worker
    user: root
    environment:
      - SPARK_MODE=worker
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=4g
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    depends_on:
      - spark-master
    volumes:
      - ~/data:/opt/spark-data
      - ~/scripts:/opt/spark-scripts
      - ~/output:/opt/spark-output
    networks:
      - spark-network

networks:
  spark-network:
    driver: bridge
